<a href="https://colab.research.google.com/github/yazy7991/SampleApp/blob/master/AIR_QUALITY_MACHINE_LEARNING_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import warnings
warnings.filterwarnings("ignore")

In [33]:
files = ['AP001.csv','AP002.csv','AP003.csv','AP004.csv','AP005.csv','AP006.csv','AP007.csv', 'AP008.csv','AP009.csv','AP010.csv']

combined_df = pd.DataFrame()

for file in files:
  df = pd.read_csv(file)

  combined_df = combined_df.append(df)

combined_df = combined_df.reset_index(drop=True)

combined_df

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),...,BP (mmHg),VWS (m/s),Xylene (ug/m3),RF (mm),AT (degree C),Eth-Benzene (ug/m3),MP-Xylene (ug/m3),O Xylene (ug/m3),VWS (degree),WD (degree)
0,2016-07-01 10:00:00,2016-07-01 11:00:00,10.67,39.00,17.67,39.20,32.33,7.07,6.60,0.48,...,NaN,-0.10,0.1,0.0,23.05,NaN,NaN,NaN,NaN,NaN
1,2016-07-01 11:00:00,2016-07-01 12:00:00,2.00,39.00,20.50,41.90,35.80,7.40,NaN,0.49,...,NaN,-0.10,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-07-01 12:00:00,2016-07-01 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-07-01 13:00:00,2016-07-01 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-07-01 14:00:00,2016-07-01 15:00:00,20.50,50.00,15.40,43.60,32.78,6.35,6.38,0.47,...,NaN,-0.10,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272212,2023-03-31 19:00:00,2023-03-31 20:00:00,31.26,50.07,1.69,68.96,38.05,16.76,5.64,1.08,...,732.17,18.78,NaN,0.0,30.00,1.04,1.11,NaN,NaN,120.21
272213,2023-03-31 20:00:00,2023-03-31 21:00:00,46.19,73.97,5.02,81.71,47.55,20.94,33.63,1.09,...,731.53,18.24,NaN,0.0,29.44,1.02,1.11,NaN,NaN,129.11
272214,2023-03-31 21:00:00,2023-03-31 22:00:00,136.85,219.19,1.44,39.74,22.31,9.89,4.08,0.66,...,732.39,18.88,NaN,0.0,29.61,1.04,1.13,NaN,NaN,127.20
272215,2023-03-31 22:00:00,2023-03-31 23:00:00,130.31,208.72,0.36,20.85,11.38,5.03,0.90,0.39,...,731.31,15.54,NaN,0.0,29.08,1.02,1.12,NaN,NaN,167.99
272216,2023-03-31 23:00:00,2023-04-01 00:00:00,102.13,163.58,0.36,19.42,10.63,4.69,0.82,0.26,...,722.96,-0.68,NaN,0.0,28.44,1.04,1.13,NaN,NaN,208.74

In [34]:
DATAFRAME = combined_df.drop(['From Date','To Date','NOx (ppb)','NO (ug/m3)','Benzene (ug/m3)','Toluene (ug/m3)', 'Xylene (ug/m3)', 'MP-Xylene (ug/m3)', 'O Xylene (ug/m3)', 'Eth-Benzene (ug/m3)'], axis=1)
DATAFRAME

,PM2.5 (ug/m3),PM10 (ug/m3),NO2 (ug/m3),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),Temp (degree C),RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),RF (mm),AT (degree C),VWS (degree),WD (degree)
0,10.67,39.00,39.20,7.07,6.60,0.48,14.50,33.43,71.67,2.30,226.33,123.67,NaN,-0.10,0.0,23.05,NaN,NaN
1,2.00,39.00,41.90,7.40,NaN,0.49,15.00,33.70,70.00,2.50,223.00,186.00,NaN,-0.10,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20.50,50.00,43.60,6.35,6.38,0.47,10.50,33.57,63.50,1.88,223.00,240.50,NaN,-0.10,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272212,31.26,50.07,68.96,16.76,5.64,1.08,30.69,NaN,33.40,0.13,NaN,0.90,732.17,18.78,0.0,30.00,NaN,120.21
272213,46.19,73.97,81.71,20.94,33.63,1.09,19.74,NaN,35.87,0.12,NaN,0.81,731.53,18.24,0.0,29.44,NaN,129.11
272214,136.85,219.19,39.74,9.89,4.08,0.66,26.26,NaN,35.32,0.17,NaN,0.75,732.39,18.88,0.0,29.61,NaN,127.20
272215,130.31,208.72,20.85,5.03,0.90,0.39,33.91,NaN,46.80,0.20,NaN,1.08,731.31,15.54,0.0,29.08,NaN,167.99
272216,102.13,163.58,19.42,4.69,0.82,0.26,45.69,NaN,58.04,0.22,NaN,0.81,722.96,-0.68,0.0,28.44,NaN,208.74

In [36]:
for column in DATAFRAME.columns:
    mean_value = DATAFRAME[column].mean()
    DATAFRAME[column].fillna(mean_value, inplace=True)

DATAFRAME.isnull().sum()

PM2.5 (ug/m3)      0
PM10 (ug/m3)       0
NO2 (ug/m3)        0
NH3 (ug/m3)        0
SO2 (ug/m3)        0
CO (mg/m3)         0
Ozone (ug/m3)      0
Temp (degree C)    0
RH (%)             0
WS (m/s)           0
WD (deg)           0
SR (W/mt2)         0
BP (mmHg)          0
VWS (m/s)          0
RF (mm)            0
AT (degree C)      0
VWS (degree)       0
WD (degree)        0
dtype: int64

In [37]:
DATAFRAME

,PM2.5 (ug/m3),PM10 (ug/m3),NO2 (ug/m3),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),Temp (degree C),RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),RF (mm),AT (degree C),VWS (degree),WD (degree)
0,10.670000,39.00000,39.200000,7.070000,6.600000,0.480000,14.500000,33.430000,71.670000,2.300000,226.330000,123.670000,756.917719,-0.10000,0.000000,23.050000,4.823643,182.865405
1,2.000000,39.00000,41.900000,7.400000,9.714749,0.490000,15.000000,33.700000,70.000000,2.500000,223.000000,186.000000,756.917719,-0.10000,0.000000,26.608297,4.823643,182.865405
2,36.229383,75.24239,26.583451,11.814805,9.714749,0.673271,33.428297,29.480351,70.775653,2.051666,184.420679,120.855295,756.917719,-0.00952,0.036582,26.608297,4.823643,182.865405
3,36.229383,75.24239,26.583451,11.814805,9.714749,0.673271,33.428297,29.480351,70.775653,2.051666,184.420679,120.855295,756.917719,-0.00952,0.036582,26.608297,4.823643,182.865405
4,20.500000,50.00000,43.600000,6.350000,6.380000,0.470000,10.500000,33.570000,63.500000,1.880000,223.000000,240.500000,756.917719,-0.10000,0.000000,26.608297,4.823643,182.865405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272212,31.260000,50.07000,68.960000,16.760000,5.640000,1.080000,30.690000,29.480351,33.400000,0.130000,184.420679,0.900000,732.170000,18.78000,0.000000,30.000000,4.823643,120.210000
272213,46.190000,73.97000,81.710000,20.940000,33.630000,1.090000,19.740000,29.480351,35.870000,0.120000,184.420679,0.810000,731.530000,18.24000,0.000000,29.440000,4.823643,129.110000
272214,136.850000,219.19000,39.740000,9.890000,4.080000,0.660000,26.260000,29.480351,35.320000,0.170000,184.420679,0.750000,732.390000,18.88000,0.000000,29.610000,4.823643,127.200000
272215,130.310000,208.72000,20.850000,5.030000,0.900000,0.390000,33.910000,29.480351,46.800000,0.200000,184.420679,1.080000,731.310000,15.54000,0.000000,29.080000,4.823643,167.990000
272216,102.130000,163.58000,19.420000,4.690000,0.820000,0.260000,45.690000,29.480351,58.040000,0.220000,184.420679,0.810000,722.960000,-0.68000,0.000000,28.440000,4.823643,208.740000

Calculating the Air Quality Index
Using this formula
Ip = [IHi - ILo / BPHi - BPLo](Cp - BPLo) + ILo

where,
  Ip = index of Pollutant
  Cp = truncated concentration of pollutant p
  BPHi = concentration breakpoint i.e greater than or equal to Cp
  BPLo = concentration breakpoint i.e less than or equal to Cp
  IHi = AQI value corresponding to BPHi
  ILo = AQI value corresponding to BPLo

PM2.5 CALCULATION

In [38]:
def PM25_Index(x):
  Ip = 0
  Cp = x
  BPHi = 0
  BPLo = 0
  IHi = 0
  ILo = 0
  if (0 <= x <= 30):
    BPHi = 30
    BPLo = 0
    IHi = 50
    ILo = 0
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (31 <= x <= 60):
    BPHi = 60
    BPLo = 31
    IHi = 100
    ILo = 51
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (61 <= x <= 90):
    BPHi = 90
    BPLo = 61
    IHi = 200
    ILo = 101
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (91 <= x <= 120):
    BPHi = 120
    BPLo = 91
    IHi = 300
    ILo = 201
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (121 <= x <= 250):
    BPHi = 250
    BPLo = 121
    IHi = 400
    ILo = 301
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif(250 <= x <= 500):
    BPHi = 500
    BPLo = 250
    IHi = 500
    ILo = 401
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  else:
    return Ip

PM10 CALCULATION

In [39]:
def PM10_Index(x):
  Ip = 0
  Cp = x
  BPHi = 0
  BPLo = 0
  IHi = 0
  ILo = 0
  if (0 <= x <= 50):
    BPHi = 50
    BPLo = 0
    IHi = 50
    ILo = 0
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (51 <= x <= 100):
    BPHi = 100
    BPLo = 51
    IHi = 100
    ILo = 51
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (101 <= x <= 250):
    BPHi = 250
    BPLo = 101
    IHi = 200
    ILo = 101
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (251 <= x <= 350):
    BPHi = 350
    BPLo = 251
    IHi = 300
    ILo = 201
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (351 <= x <= 430):
    BPHi = 430
    BPLo = 351
    IHi = 400
    ILo = 301
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif(430 <= x <= 500 ):
    BPHi = 500
    BPLo = 430
    IHi = 500
    ILo = 401
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  else:
    return Ip

SO2 CALCULATION

In [40]:
def SO2_Index(x):
  Ip = 0
  Cp = x
  BPHi = 0
  BPLo = 0
  IHi = 0
  ILo = 0
  if (0 <= x <= 40):
    BPHi = 40
    BPLo = 0
    IHi = 50
    ILo = 0
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (41 <= x <= 80):
    BPHi = 80
    BPLo = 41
    IHi = 100
    ILo = 51
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (81 <= x <= 380):
    BPHi = 380
    BPLo = 81
    IHi = 200
    ILo = 101
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (381 <= x <= 800):
    BPHi = 800
    BPLo = 381
    IHi = 300
    ILo = 201
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (801 <= x <= 1600):
    BPHi = 1600
    BPLo = 801
    IHi = 400
    ILo = 301
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif(1600 <= x <= 2500 ):
    BPHi = 2500
    BPLo = 1600
    IHi = 500
    ILo = 401
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  else:
    return Ip

NO2 CALCULATION

In [41]:
def NO2_Index(x):
  Ip = 0
  Cp = x
  BPHi = 0
  BPLo = 0
  IHi = 0
  ILo = 0
  if (0 <= x <= 40):
    BPHi = 40
    BPLo = 0
    IHi = 50
    ILo = 0
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (41 <= x <= 80):
    BPHi = 80
    BPLo = 41
    IHi = 100
    ILo = 51
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (81 <= x <= 180):
    BPHi = 180
    BPLo = 81
    IHi = 200
    ILo = 101
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (181 <= x <= 280):
    BPHi = 280
    BPLo = 181
    IHi = 300
    ILo = 201
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (281 <= x <= 400):
    BPHi = 400
    BPLo = 281
    IHi = 400
    ILo = 301
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif(400 <= x <= 500 ):
    BPHi = 500
    BPLo = 400
    IHi = 500
    ILo = 401
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  else:
    return Ip

CO CALCULATION

In [42]:
def CO_Index(x):
  Ip = 0
  Cp = x
  BPHi = 0
  BPLo = 0
  IHi = 0
  ILo = 0
  if (0 <= x <= 1.0):
    BPHi = 1.0
    BPLo = 0
    IHi = 50
    ILo = 0
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (1.1 <= x <= 2.0):
    BPHi = 2.0
    BPLo = 1.1
    IHi = 100
    ILo = 51
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (2.1 <= x <= 10):
    BPHi = 10
    BPLo = 2.1
    IHi = 200
    ILo = 101
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (10.1 <= x <= 17):
    BPHi = 17
    BPLo = 10.1
    IHi = 300
    ILo = 201
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (17.1 <= x <= 34):
    BPHi = 34
    BPLo = 17.1
    IHi = 400
    ILo = 301
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif(34.1 <= x <= 50 ):
    BPHi = 50
    BPLo = 34.1
    IHi = 500
    ILo = 401
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  else:
    return Ip

O3 CALCULATION

In [43]:
def O3_Index(x):
  Ip = 0
  Cp = x
  BPHi = 0
  BPLo = 0
  IHi = 0
  ILo = 0
  if (0 <= x <= 50):
    BPHi = 50
    BPLo = 0
    IHi = 50
    ILo = 0
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (51 <= x <= 100):
    BPHi = 100
    BPLo = 51
    IHi = 100
    ILo = 51
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (101 <= x <= 168):
    BPHi = 168
    BPLo = 101
    IHi = 200
    ILo = 101
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (169 <= x <= 208):
    BPHi = 208
    BPLo = 169
    IHi = 300
    ILo = 201
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (209 <= x <= 748):
    BPHi = 748
    BPLo = 209
    IHi = 400
    ILo = 301
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif(748 <= x <= 800 ):
    BPHi = 800
    BPLo = 748
    IHi = 500
    ILo = 401
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  else:
    return Ip

NH3 CALCULATION

In [44]:
def NH3_Index(x):
  Ip = 0
  Cp = x
  BPHi = 0
  BPLo = 0
  IHi = 0
  ILo = 0
  if (0 <= x <= 200):
    BPHi = 200
    BPLo = 0
    IHi = 50
    ILo = 0
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (201 <= x <= 400):
    BPHi = 400
    BPLo = 201
    IHi = 100
    ILo = 51
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (401 <= x <= 800):
    BPHi = 800
    BPLo = 401
    IHi = 200
    ILo = 101
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (801 <= x <= 1200):
    BPHi = 208
    BPLo = 169
    IHi = 300
    ILo = 201
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif (1201 <= x <= 1800):
    BPHi = 748
    BPLo = 209
    IHi = 400
    ILo = 301
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  elif(1800 <= x <= 2000 ):
    BPHi = 2000
    BPLo = 1800
    IHi = 500
    ILo = 401
    first = (IHi - ILo) / (BPHi - BPLo)
    second = (Cp - BPLo) + ILo
    Ip = first * second
    return Ip
  else:
    return Ip

In [45]:
DATAFRAME.loc[:, 'PM2.5 Index'] = DATAFRAME['PM2.5 (ug/m3)'].apply(PM25_Index)

In [46]:
DATAFRAME.loc[:, 'PM10 Index'] = DATAFRAME['PM10 (ug/m3)'].apply(PM10_Index)

In [47]:
DATAFRAME.loc[:, 'SO2 Index'] = DATAFRAME['SO2 (ug/m3)'].apply(SO2_Index)

In [48]:
DATAFRAME.loc[:, 'NO2 Index'] = DATAFRAME['NO2 (ug/m3)'].apply(NO2_Index)

In [49]:
DATAFRAME.loc[:, 'NH3 Index'] = DATAFRAME['NH3 (ug/m3)'].apply(NH3_Index)

In [50]:
DATAFRAME.loc[:, 'CO Index'] = DATAFRAME['CO (mg/m3)'].apply(CO_Index)

In [51]:
DATAFRAME.loc[:, 'O3 Index'] = DATAFRAME['Ozone (ug/m3)'].apply(O3_Index)

CALCULATING THE OVERALL AIR QUALITY INDEX

In [52]:
DATAFRAME.loc[:, 'AQI'] = DATAFRAME.apply(lambda row: max(row['PM2.5 Index'], row['PM10 Index'], row['SO2 Index'], row['NO2 Index'], row['CO Index'], row['O3 Index'], row['NH3 Index']),axis=1)
DATAFRAME = DATAFRAME.applymap(lambda x: round(x, 2))
DATAFRAME

,PM2.5 (ug/m3),PM10 (ug/m3),NO2 (ug/m3),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),Temp (degree C),RH (%),WS (m/s),...,VWS (degree),WD (degree),PM2.5 Index,PM10 Index,SO2 Index,NO2 Index,NH3 Index,CO Index,O3 Index,AQI
0,10.67,39.00,39.20,7.07,6.60,0.48,14.50,33.43,71.67,2.30,...,4.82,182.87,17.78,39.00,8.25,49.00,1.77,24.00,14.50,49.00
1,2.00,39.00,41.90,7.40,9.71,0.49,15.00,33.70,70.00,2.50,...,4.82,182.87,3.33,39.00,12.14,65.21,1.85,24.50,15.00,65.21
2,36.23,75.24,26.58,11.81,9.71,0.67,33.43,29.48,70.78,2.05,...,4.82,182.87,95.01,75.24,12.14,33.23,2.95,33.66,33.43,95.01
3,36.23,75.24,26.58,11.81,9.71,0.67,33.43,29.48,70.78,2.05,...,4.82,182.87,95.01,75.24,12.14,33.23,2.95,33.66,33.43,95.01
4,20.50,50.00,43.60,6.35,6.38,0.47,10.50,33.57,63.50,1.88,...,4.82,182.87,34.17,50.00,7.97,67.34,1.59,23.50,10.50,67.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272212,31.26,50.07,68.96,16.76,5.64,1.08,30.69,29.48,33.40,0.13,...,4.82,120.21,86.61,0.00,7.05,99.21,4.19,0.00,30.69,99.21
272213,46.19,73.97,81.71,20.94,33.63,1.09,19.74,29.48,35.87,0.12,...,4.82,129.11,111.84,73.97,42.04,101.71,5.24,0.00,19.74,111.84
272214,136.85,219.19,39.74,9.89,4.08,0.66,26.26,29.48,35.32,0.17,...,4.82,127.20,243.16,145.64,5.10,49.68,2.47,33.00,26.26,243.16
272215,130.31,208.72,20.85,5.03,0.90,0.39,33.91,29.48,46.80,0.20,...,4.82,167.99,238.14,138.68,1.12,26.06,1.26,19.50,33.91,238.14
272216,102.13,163.58,19.42,4.69,0.82,0.26,45.69,29.48,58.04,0.22,...,4.82,208.74,724.17,108.69,1.02,24.28,1.17,13.00,45.69,724.17

In [53]:
DATAFRAME = DATAFRAME.drop(['PM2.5 Index', 'PM10 Index', 'SO2 Index', 'NO2 Index', 'CO Index', 'O3 Index', 'NH3 Index'],axis=1)
DATAFRAME

,PM2.5 (ug/m3),PM10 (ug/m3),NO2 (ug/m3),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),Temp (degree C),RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),RF (mm),AT (degree C),VWS (degree),WD (degree),AQI
0,10.67,39.00,39.20,7.07,6.60,0.48,14.50,33.43,71.67,2.30,226.33,123.67,756.92,-0.10,0.00,23.05,4.82,182.87,49.00
1,2.00,39.00,41.90,7.40,9.71,0.49,15.00,33.70,70.00,2.50,223.00,186.00,756.92,-0.10,0.00,26.61,4.82,182.87,65.21
2,36.23,75.24,26.58,11.81,9.71,0.67,33.43,29.48,70.78,2.05,184.42,120.86,756.92,-0.01,0.04,26.61,4.82,182.87,95.01
3,36.23,75.24,26.58,11.81,9.71,0.67,33.43,29.48,70.78,2.05,184.42,120.86,756.92,-0.01,0.04,26.61,4.82,182.87,95.01
4,20.50,50.00,43.60,6.35,6.38,0.47,10.50,33.57,63.50,1.88,223.00,240.50,756.92,-0.10,0.00,26.61,4.82,182.87,67.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272212,31.26,50.07,68.96,16.76,5.64,1.08,30.69,29.48,33.40,0.13,184.42,0.90,732.17,18.78,0.00,30.00,4.82,120.21,99.21
272213,46.19,73.97,81.71,20.94,33.63,1.09,19.74,29.48,35.87,0.12,184.42,0.81,731.53,18.24,0.00,29.44,4.82,129.11,111.84
272214,136.85,219.19,39.74,9.89,4.08,0.66,26.26,29.48,35.32,0.17,184.42,0.75,732.39,18.88,0.00,29.61,4.82,127.20,243.16
272215,130.31,208.72,20.85,5.03,0.90,0.39,33.91,29.48,46.80,0.20,184.42,1.08,731.31,15.54,0.00,29.08,4.82,167.99,238.14
272216,102.13,163.58,19.42,4.69,0.82,0.26,45.69,29.48,58.04,0.22,184.42,0.81,722.96,-0.68,0.00,28.44,4.82,208.74,724.17

REGRESSION MODELLING

In [54]:
INPUTS = DATAFRAME.drop(['AQI'], axis = 1)
OUTPUT = DATAFRAME['AQI']

In [55]:
INPUTS_train, INPUTS_test, OUTPUT_train, OUTPUT_test = train_test_split(INPUTS,OUTPUT,test_size=0.2,random_state=42)
print(INPUTS_train.shape)
print(INPUTS_test.shape)
print(OUTPUT_train.shape)
print(OUTPUT_test.shape)

(217773, 18)
(54444, 18)
(217773,)
(54444,)

LINEAR REGRESSION

In [56]:
regression = LinearRegression()

regression.fit(INPUTS_train,OUTPUT_train)

PREDICTIONS = regression.predict(INPUTS_test)

mse = mean_squared_error(OUTPUT_test,PREDICTIONS)

mae = mean_absolute_error(OUTPUT_test,PREDICTIONS)

r2s = r2_score(OUTPUT_test,PREDICTIONS)

print("The mean square error is: ", mse)

print("The mean absolute squared error is: ", mae)

print("The root squared error is: ", r2s)

The mean square error is:  381184.15021998604
The mean absolute squared error is:  346.1445758205682
The root squared error is:  0.32380461170634445

In [57]:
data = {
    'True Value': OUTPUT_test,
    'Predicted Value': PREDICTIONS
}

df = pd.DataFrame(data)
df

        True Value  Predicted Value
176081      155.08       378.830817
161074       91.24       618.926088
123846       56.40        37.479345
248529       95.01        39.607324
27061        31.90       -65.333269
...            ...              ...
10941       121.43        89.927872
271341      151.82       164.375508
256218      101.80       283.105566
183012       90.35       343.856773
55215        40.75       328.026615

[54444 rows x 2 columns]

LASSO REGRESSION

In [58]:
lasso = Lasso(alpha = 1.0)

lasso.fit(INPUTS_train,OUTPUT_train)

PREDICTIONS = lasso.predict(INPUTS_test)

mse = mean_squared_error(OUTPUT_test,PREDICTIONS)

mae = mean_absolute_error(OUTPUT_test,PREDICTIONS)

r2s = r2_score(OUTPUT_test,PREDICTIONS)

print("The mean square error is: ", mse)

print("The mean absolute squared error is: ", mae)

print("The root squared error is: ", r2s)

The mean square error is:  381267.2132989208
The mean absolute squared error is:  345.73285891632145
The root squared error is:  0.3236572633161222

DECISION TREE

In [59]:
tree = DecisionTreeRegressor()

tree.fit(INPUTS_train,OUTPUT_train)

PREDICTIONS = tree.predict(INPUTS_test)

mse = mean_squared_error(OUTPUT_test,PREDICTIONS)

mae = mean_absolute_error(OUTPUT_test,PREDICTIONS)

r2s = r2_score(OUTPUT_test,PREDICTIONS)

print("The mean square error is: ", mse)

print("The mean absolute squared error is: ", mae)

print("The root squared error is: ", r2s)

The mean square error is:  11.968324114686647
The mean absolute squared error is:  0.14254334731452595
The root squared error is:  0.9999787689872014

In [60]:
data = {
    'True Value': OUTPUT_test,
    'Predicted Value': PREDICTIONS
}

df = pd.DataFrame(data)
df

        True Value  Predicted Value
176081      155.08           155.12
161074       91.24            91.24
123846       56.40            56.40
248529       95.01            95.01
27061        31.90            31.85
...            ...              ...
10941       121.43           121.20
271341      151.82           151.80
256218      101.80           101.80
183012       90.35            90.12
55215        40.75            40.75

[54444 rows x 2 columns]

ELASTIC NET REGRESSION

In [61]:
elastic_net = ElasticNet(alpha = 1.0, l1_ratio=0.5)

elastic_net.fit(INPUTS_train,OUTPUT_train)

PREDICTIONS = elastic_net.predict(INPUTS_test)

mse = mean_squared_error(OUTPUT_test,PREDICTIONS)

mae = mean_absolute_error(OUTPUT_test,PREDICTIONS)

r2s = r2_score(OUTPUT_test,PREDICTIONS)

print("The mean square error is: ", mse)

print("The mean absolute squared error is: ", mae)

print("The root squared error is: ", r2s)

The mean square error is:  423550.8760344928
The mean absolute squared error is:  353.778230903542
The root squared error is:  0.2486488514357823

RIDGE REGRESSION

In [62]:
ridge = Ridge(alpha = 1.0)

ridge.fit(INPUTS_train,OUTPUT_train)

PREDICTIONS = ridge.predict(INPUTS_test)

mse = mean_squared_error(OUTPUT_test,PREDICTIONS)

mae = mean_absolute_error(OUTPUT_test,PREDICTIONS)

r2s = r2_score(OUTPUT_test,PREDICTIONS)

print("The mean square error is: ", mse)

print("The mean absolute squared error is: ", mae)

print("The root squared error is: ", r2s)

The mean square error is:  381184.2634508849
The mean absolute squared error is:  346.1442219003413
The root squared error is:  0.32380441084224354

RANDOM FOREST REGRESSION

In [64]:
rf = RandomForestRegressor(n_estimators=10, random_state=42)

rf.fit(INPUTS_train,OUTPUT_train)

PREDICTIONS = rf.predict(INPUTS_test)

mse = mean_squared_error(OUTPUT_test,PREDICTIONS)

mae = mean_absolute_error(OUTPUT_test,PREDICTIONS)

r2s = r2_score(OUTPUT_test,PREDICTIONS)

print("The mean square error is: ", mse)

print("The mean absolute squared error is: ", mae)

print("The root squared error is: ", r2s)

The mean square error is:  21.219931292998307
The mean absolute squared error is:  0.1659303504599051
The root squared error is:  0.999962357249975